<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Milwaukee MicroBrews - My Favorite Microbrewers in Milwaukee</title>
    <meta name="description" content="Milwaukee MicroBrews - My Favorite Microbrewers in Milwaukee">

    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="bower-components/normalize-css/normalize.css">
    <link rel="stylesheet" href="0.0.1/style.css">
</head>
<body>

<div class="site-container" data-bind="css: {'menu-open': menuOpen}">

    <header class="site-header on-dark" itemscope itemtype="https://schema.org/WPHeader">
        <div class="hamburger__menu" itemscope itemtype="http://schema.org/SiteNavigationElement"
             data-bind="click: toggleSidebar">
            <div class="hamburger__lines">
                <span class="hamburger__line"></span>
                <span class="hamburger__line"></span>
                <span class="hamburger__line"></span>
            </div>
        </div>
        <h1 itemprop="headline">Downtown Milwaukee Breweries</h1>
    </header>

    <aside class="site-places on-dark" role="complementary" itemscope itemprop="https://schema.org/WPSideBar">
        <nav class="site-nav">
            <h2>Hotspots</h2>
            <div class="filter-places">
                <input data-bind="value: nameFilter, valueUpdate: 'afterkeydown'" class="filter-by-name" type="text" placeholder="Location" autocomplete="off" itemprop="query-input">
            </div>
            <ul class="hotspots-menu" data-bind="template: {foreach: filteredPlaces}">
                <li class="hotspot-menu-item" data-bind="text: title, click: $parent.setPlace.bind($data, $parent)"></li>
            </ul>

        </nav>
    </aside>

    <div id="map"></div>
</div>

<script src="bower-components/knockout/dist/knockout.js"></script>
<script src="js/styles/minimal.js"></script>
<script src="js/map/Marker.js"></script>
<script src="js/ViewModel.js"></script>
<script src="js/InfoWindowView.js"></script>
<script src="js/PlaceModel.js"></script>
<script src="js/data.js"></script>
<script src="js/app.js"></script>
<script async defer src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAhlQwwmSvCmnSXwe-k7YQGovnrVdjykJs&v=3&callback=initMap"></script>
</body>
</html>