.site-header,
.site-brewhouses {
  background-color: map-get($on-dark-colors, 'sidebar-background');

  h1,
  h2,
  h3,
  h4,
  p,
  & {
    color: map-get($on-dark-colors, 'color');
  }
}

.error {
  background-color: #cc0000;
  color: #fff;
  padding: 20px;
}